.App {
  text-align: center;
  padding-top: 15px;
}

.searchForm-wrapper{
  display: flex;
  justify-content: center;
}

.moviesList{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px;
}

.moviesList-item{
  margin-bottom: 25px;
  width: 48%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
